<div class="container">
	<div class="row">
		<h1>ジャンル一覧・追加</h1>
		<%= form_for(@genre) do |f| %>
		<% if @genre.errors.any? %>
		<div id="error_explanation">
			<p><%= @genre.errors.count %>件のエラーが発生しました。</p>
			<ul>
				<% @genre.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
        </div>
		<% end %>
		<%= f.label :ジャンル %>
		<%= f.text_field :name %>
		<%= f.submit '追加', class: "btn btn-primary"%>
		<% end %>
		<%= link_to 'レビュー新規投稿',new_review_path, class: "col-xs-5 btn btn-default glyphicon" %><br><br>
<% @genres.each do |genre| %>
<div class="col-xs-1">
・<%= genre.name %>
</div>
<% end %>