<div class="container">
	<div class="row">
		<h1>NEW REVIEW</h1>
		<%= from_for(@review) do |f| %>
		<div>
			<%= f.label :image %>
			<%= f.attachment_field :image %>
		</div>

		<div>
			<%= f.label :title %>
			<%= f.text_field :title, class: "col-xs-12 review_title" %>
		</div>

		<div>
			<lebel><%= radio_button_tag("_add", "genreAdds") %>既存ジャンルから選ぶ</lebel>
			<%= collection_select(Genre, :id, @genres, :id, :name, class: "form-control") %>
		</div>

        <div>
        	<lebel><%= radio_button_tag("_add", "newAdd") %>新しいジャンル</lebel>
            <%= fields_for :genres do |f| %>
            <%= f.label :name %>
			<%= f.text_field :name, class: "col-xs-12 genre_name" %>
		    <% end %>
	    </div>

		<div>
			<%= f.label :body %>
			<%= f.text_area :body, class: "col-xs-12 review_body" %>
		</div>

		<%= f.submit '新規登録', class: "btn btn-primary" %>

		<% end %>
	</div>
</div>