<div class="container">
	<h2>お気に入りレビュー</h2>
<% @user.bookmarks.each do |bookmark| %>
<div>
		<span>　　　　　　　　　　　　　　　</span>
	　　　<%= link_to review_path(bookmark.review.id) do %>
	　　　<%= attachment_image_tag(bookmark.review, :image, :fill, 65, 65, fallback: "no_image.jpg") %>
	     <% end %>
	     <span>　　　　　　　　　　　</span>
	     <%= link_to review_path(bookmark.review.id) do %>
           <%= bookmark.review.title %>
         <% end %>
    </div>
    <div class="col-xs-11 text-center">
    	<span>　　　　　　　　　　　　　　　</span>
    	<span>ユーザー名:<%= bookmark.review.user.name %></span>
    	<span>　　　　　　　　　</span>
    	<span>ジャンル:</span>
    	<% if bookmark.review.genre == nil %>
    	<% else %>
         <span><%= bookmark.review.genre.name %></span>
         <% end %>
	         <span>　　　　　　　　　　　　　</span>
	     <span>投稿日:<%= bookmark.review[:created_at].strftime("%Y-%m-%d %H:%M") %></span>
	     <hr>
    </div>
	<% end %>
</div>