<div class="container">
 <div class="row">
<h2>ユーザープロフィール</h2>

<%= form_for(@user) do |f| %>

<!-- エラーメッセージ表示-->
<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>error occurrence</h3>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<!-- エラーメッセージ表示-->

<div class="field">
	<%= f.label :name, "ユーザー名" %>
	<%= f.text_field :name, class: "name" %>
</div>

<div class="field">
	<%= f.label :image, "プロフィール画像" %>
	<%= f.attachment_field :image, class: "user_image" %>
</div>

<div class="field">
	<%= f.label :body, "プロフィール" %>
	<%= f.text_area :body, class: "body" %>
</div>

<div class="actions">
	<%= f.submit 'Update User' %>
</div>

<% end %>
</div>
</div>