<div class="container">
	      <br><span class="show1">投稿者　　　<%= link_to @review.user.name, user_path(@review.user) %></span>
	      <div class="col-xs-14 text-center">
	           <%= attachment_image_tag(@review, :image, :fill, 200, 200, fallback: "no_image.jpg") %><br>
	           <h4>タイトル</h4><span class="show2"><%= @review.title %></span>
	       </div>
	       <hr>
	       <h4>ジャンル</h4>
	        <div>・<%= @review.genre.name %> </div>
	        <h4>本文</h4>
	        <pre><%= @review.body %></pre><br>
	        <% if user_signed_in? %>
            <% if @review.user.id == current_user.id %>
            <div><%= link_to "レビューを編集", edit_review_path(@review) %></div>
            <% else %>
	        <div>
                <%= render 'bookmarks/like', review: @review %>
             </div>
             <% end %>
             <% end %>
	        <div>コメント数:<%= @review.comments.count %></div>
            <hr>

            <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
            </li>
				<% if user_signed_in? %>
				<% if @review.user.id == current_user.id %>
				 <% else %>
				 <div class="comment-create">
                   <h3 class="text-left"></h3>
				   <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
			    </div>
                <% end %>
                <% end %>

</div>