<div class="container">
	<%= attachment_image_tag @review, :image, format: 'jpeg', size: "150×150" %><br>
	<%= @review.title %>
	<%= @review.genre.name %>
	<%= @review.body %>
	<%= @review.user.name %>
</div>
<%= link_to "レビューを編集", edit_review_path(@review) %>
