<div class="container">
	      <br><div><h4>投稿者</h4><%= @review.user.name %></div>
	      <div>
	           <%= attachment_image_tag(@review, :image, :fill, 200, 200, fallback: "no_image.jpg") %><br>
	           <h4>タイトル</h4><%= @review.title %>
	       </div>
	        <div><h4>ジャンル</h4><%= @review.genre.name %> </div>
	        <div><h4>本文</h4><%= @review.body %></div><br>
	        <div><% if @review.bookmark_by?(current_user) %>
                    <%= link_to review_bookmark_path(@review), method: :delete do %>
                     <span class="glyphicon glyphicon-heart" aria-hidden="true" >お気に入り</span>
                    <% end %>
                <% else %>
                    <%= link_to review_bookmarks_path(@review), method: :post do %>
                     <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">お気に入り</span>
                    <% end %>
                <% end %>
             </div>
	        <div>コメント数:<%= @review.comments.count %></div>
	        <% if @review.user.id == current_user.id %>
            <div><%= link_to "レビューを編集", edit_review_path(@review) %></div>
            <% else %>
            <% end %>


           <% @review.comments.each do |comment| %>
				<p><%= attachment_image_tag(comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg") %>
				<%= comment.body %>
					<% if comment.user == current_user%>
                          <%= link_to "Destroy", review_comment_path(comment.review, comment), method: :delete, class: "btn btn-danger" %>
                    <% end %></p>
				<% end %>
			<%= form_for [@review, @comment] do |f| %>
            <%= f.text_area :body, rows:'5', class: "form-control" %>

             <%= f.submit "送信" %>
             <% end %>

</div>